%h2 The Best In Nantucket Town Properties

.foo
  %h3 14 Back St, Nantucket, MA, 02554
              
  - features = ['Bedrooms: 3 (King, Queen, Full, +2 Pullout Sofas)', 'Baths w/ Shower & Tub: 2', 'Heat Type: Gas', 'Jacuzzi', 'Washer', 'Dryer', 'Dishwasher', 'Microwave', 'Toaster Oven', 'Blender', 'Coffee Maker', 'Internet: High Speed', 'TVs: 2', 'Iron + Iron Board']
  - description = <<-EOF
    - This beautifully restored bungalow is on a quiet street in town, with easy proximity to stores, restaurants, and beaches.
    - The first floor features all-hardwood floors with a sitting area/living room and a dining room seating up to 10; a newly renovated kitchen; a media/TV room with HD TV and a queen sleeper sofa; and two bedrooms, one with a queen bed and one with a full (double) bed. There is also a bathroom with tub/shower.
    - Lower level features a large living room with another HD TV and queen sleeper sofa; a bedroom with a king bed; a laundry room; a wet bar area; and a bathroom with jacuzzi and shower.
    - There is a two-level back deck perfect for sunbathing, lounging, and entertaining, and the backyard is large and gracious.
    - Back Street is a quiet, tree-lined street with coffee shops a few minutes' walk away and a 10 to 15 minute walk to Main Street. Beaches and restaurants are within easy access. Window AC units for bedrooms. High speed wireless internet."
  - EOF
  %span.span5
    %ul#info-tabs.nav.nav-tabs
      %li.active
        = link_to 'Info', '#info', 'data-toggle' => 'tab'
      %li
        = link_to 'Description', '#description', 'data-toggle' => 'tab'
      %li
        = link_to 'History', '#history', 'data-toggle' => 'tab'
    .tab-content
      #info.tab-pane.active
        - features.each do |feature|
          %p= feature
      #description.tab-pane
        %p= description
        %p= link_to "More Photos", "http://70.88.203.153/barefoot/vre/ed4311/rpt/0/picturesheet_i.asp?CO=ed4311&strIDs=49432"
        %p= link_to "More Information and Booking", "http://70.88.203.153/barefoot/vre/batchrpt.asp?CO=ed4311&uid=0&qry=ListingSheet&tmpl=ilink&strIDs=49432&strWhere0='6/1/2013','9/1/2013',"
      #history.tab-pane
        %p= "Nantucket is a beautiful, historic whaling village on an island 30 miles out to sea, with world-class beaches, dining, and museums."
  .span5
    %ul#property-tabs.nav.nav-tabs
      %li.active
        = link_to 'Photos', '#featured-photos', 'data-toggle' => 'tab'
      %li
        = link_to 'Map', '#map', 'data-toggle' => 'tab'
    .tab-content
      #featured-photos.carousel.slide.tab-pane.active
        %ol.carousel-indicators
          - carousel_count = 12
          - carousel_count.times do |i|
            - data = {'data-target'=>"#featured-photos", 'data-slide-to'=> i}
            - data.merge!('class'=>"active") if i == 0
            %li(data)
        .carousel-inner
          - carousel_count.times do |i|
            - classes = %w(item)
            - classes << 'active' if i ==0
            %div{:class => classes}
              = image_tag "nantucket_town_rental_14_back_st_#{i}.jpg"
        = link_to '<', '#featured-photos', 'data-slide' => "prev", :class => %w(carousel-control left)
        = link_to '>', '#featured-photos', 'data-slide' => "next", :class => %w(carousel-control right)

      #map.tab-pane
        <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=14+back+st,+nantucket,+ma&amp;sll=41.275873,-70.096646&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=14+Back+St,+Nantucket,+Massachusetts+02554&amp;t=m&amp;source=embed&amp;ll=41.276839,-70.097322&amp;spn=0.019351,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=14+back+st,+nantucket,+ma&amp;sll=41.275873,-70.096646&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=14+Back+St,+Nantucket,+Massachusetts+02554&amp;t=m&amp;source=embed&amp;ll=41.276839,-70.097322&amp;spn=0.019351,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>